footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: black;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;

  .row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0;
  color: #ffb400;
}
footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
footer .copyright li:first-child:before {
  display: none;
}

/* social links */
footer .social-links {
  margin: 20px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;

  a svg {
    &:hover {
      fill: #bec0c0;
    }
  }
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
  border: 0.15rem solid black;
}
#go-top div {
  text-decoration: none;
  border: 0 none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ffb400;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top div:hover {
  background-color: #ffc350;
}

.social .btn:first-child {
  margin-right: 30px;
}
.social .btn {
  padding-left: 30px;
  padding-right: 30px;
}
.social .btn i {
  margin-right: 15px;
}
.project-btn {
  background-color: #1abc9c !important;
}
.github-btn {
  background-color: #34495e !important;
}
