.modal,
.modal::before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal-body {
  padding-bottom: 0;
  padding-top: 0;
}

.modal-body-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.5rem;

  .input-label {
    @include font-size(xs);
    color: #ffb400;
    margin-top: 1rem;
    margin-left: 0.1rem;
    padding: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    border: 1px solid #33363a;
    -webkit-text-fill-color: #eceded;
    -webkit-box-shadow: 0 0 0px 1000px #151719 inset;
    box-shadow: 0 0 0px 1000px #151719 inset;
    -webkit-transition-delay: 99999s;
    transition-delay: 99999s;
    caret-color: white !important;
  }

  .form-control {
    padding-top: 0.5rem;
    background-color: #151719;
    border-color: #33363a;
    color: #eceded;
    resize: none;
    transition: 0.5s ease;

    &:focus,
    :active {
      color: #eceded;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.text-error {
  @include font-size(xxs);
  color: red;
  margin-top: 0.2rem;
  margin-left: 0.1rem;
}

.text-succ {
  @include font-size(xs);
  color: #ffb400;
  margin: 1.5rem 0;
}

.text-err {
  @include font-size(xs);
  color: red;
  margin: 1.5rem 0;
}

.text-spin {
  margin: 1.5rem 0;
}

.button-send {
  width: 50% !important;
  color: #33363a !important;
  background-color: #ffb400 !important;

  &:hover {
    background-color: #ffc350 !important;
  }
}

.closeButton {
  @include font-size(xs);
  font-weight: bold;
  cursor: pointer;
  color: #9ca9b3;
  color: rgb(128, 128, 128);
  background-color: transparent;
  margin-top: 1rem;

  &:hover {
    color: #949697 !important;
  }
}

.modal-body-devContainer {
}

.modal-body-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .modal-body-devContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .modal-body-devItem {
      width: 150px;
      height: 150px;
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #33363a;
      transition: 0.4s ease;

      &:hover {
        transform: scale(1.05);
      }

      .modal-body-upper {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .modal-body-lower {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .badge-warning {
          border-radius: 2px;
          transform: scale(0.65);
        }
      }
    }
  }

  .modal-body-p-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .modal-body-p {
      @include font-size(xxs);
      text-align: left;
      margin-top: 1.5rem;

      a {
        color: #ffb400;

        &:hover {
          color: #ffc350;
        }
      }

      span {
        color: #ffb400;
      }
    }

    .backButton {
      @include font-size(xxs);
      font-weight: bold;
      cursor: pointer;
      color: #ffb400;
      background-color: transparent;
      padding: 0.25rem 0;
      margin-top: 1rem;
    }
  }

  .modal-body-c-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-body-c {
      @include font-size(xxs);
      text-align: center;

      a {
        color: #ffb400;

        &:hover {
          color: #ffc350;
        }
      }

      span {
        color: #ffb400;
      }
    }
  }

  .modal-body-item {
    width: 150px;
    height: 80px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-body-upper {
      width: 20%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .modal-body-dot {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: #ffb400;
        cursor: pointer;

        &:hover {
          background-color: #ffc350;
          transform: scale(1.1);
        }
      }
    }

    .modal-body-lower {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffb400;
      @include font-size(xxs);
    }
  }
}

.modal {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;

  &.modal-video {
    .modal-inner {
      padding: 0;
      max-width: $modal-video--max-width;
    }
  }

  &::before,
  .modal-inner {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: color-bg(modal-outer);
  }

  &.is-active {
    display: flex;

    &::before,
    .modal-inner {
      display: block;
    }

    .modal-inner {
      animation: slideUpInModal 0.15s ease-in-out both;
    }

    &::before {
      animation: slideUpInModalBg 0.15s ease-in-out both;
    }
  }
}

.modal-inner {
  max-height: calc(100vh - #{$modal--outer-padding-v__mobile} * 2);
  overflow: auto;
  position: relative;
  width: calc(100% - (#{$container--padding__mobile} * 2));
  min-width: $modal--min-width;
  max-width: $modal--max-width;
  margin-left: $container--padding__mobile;
  margin-right: $container--padding__mobile;
  background: color-bg(modal);
}

.modal-content {
  padding: $modal--inner-padding-v__mobile $modal--inner-padding-h__mobile;
}

.modal-close {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: $modal-close-position;
  top: $modal-close-position;
  width: $modal-close-icon--size;
  height: $modal-close-icon--size;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($modal-close-icon--thickness / 2);
    margin-left: -($modal-close-icon--size / 2);
    width: $modal-close-icon--size;
    height: $modal-close-icon--thickness;
    background: color-icon(modal);
    border-radius: $modal-close-icon--radius;
  }

  &::before {
    transform: rotate(225deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background: color-icon(modal-hover);
    }
  }
}

@include media(">medium") {
  .modal-inner {
    margin: 0 auto;
    max-height: calc(100vh - #{$modal--outer-padding-v__desktop} * 2);
  }

  .modal-content {
    padding-top: $modal--inner-padding-v__desktop;
    padding-bottom: $modal--inner-padding-v__desktop;
    padding-left: $modal--inner-padding-h__desktop;
    padding-right: $modal--inner-padding-h__desktop;
  }
}

@keyframes slideUpInModal {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpInModalBg {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
