::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #bcbdbe; 
}
::-webkit-scrollbar-thumb {
    background: #32363b;
}
::-webkit-scrollbar-thumb:hover {
    background: #393d41; 
}

.icon-svg-wrapper {
    justify-content: center;
    @media (min-width: 641px) { justify-content: unset; }
}

.icon-svg-margin {
    margin: 0 0.5rem 0 0 !important;
}