* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  font: bold 20px/1.5 "Roboto", sans-serif;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.container.dark {
  background-color: black;
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  background: radial-gradient(rgba(59, 59, 59, 0) -150%, black);
}

.main-nav.dark {
  background: black;
  border-bottom: .5px solid white;
}

.main-nav #brand {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 60px;
  height: 60px;
  background: url(./logo.png) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid black;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-nav .darkmode {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-nav .darkmode #label {
  font: 10px/1.5 "Roboto", sans-serif;
  margin: 5px 0 0 5px;
}

.main-nav .darkmode #label label {
  color: white;
}

.main-nav #hamburger-icon {
  height: 45px;
  width: 60px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hamburger-wrapper {
  position: absolute;
  top: 100px;
  right: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
}

.hamburger-wrapper .hamburger-nav {
  position: relative;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
}

.hamburger-wrapper .hamburger-nav .nav-ul {
  position: relative;
  top: 0;
  right: 0;
  margin: 0;
  width: 200px;
  height: 200px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: ease-in, .3s;
  transition: ease-in, .3s;
}

.hamburger-wrapper .hamburger-nav .nav-ul .nav-li {
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  list-style: none;
  text-align: center;
}

.hamburger-wrapper .hamburger-nav .nav-ul .nav-li a {
  padding: 15px;
  font: bold 25px/1.5 'Roboto', sans-serif;
  color: white;
}

.hamburger-wrapper .hamburger-nav .nav-ul .nav-li a:hover {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.first-page {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.first-page .landing-section {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 92% 8%;
      grid-template-rows: 92% 8%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.first-page .landing-section .landing-info {
  -ms-grid-row: 1;
  grid-row: 1;
  color: black;
  padding: 0;
}

.first-page .landing-section .landing-info h1 {
  font-size: 50px;
}

.first-page .landing-section .landing-info p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 5px;
}

.first-page .landing-section .landing-info .fa-map-marker-alt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.first-page .landing-section .landing-info.dark {
  color: white;
}

.second-page {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.second-page .project-section {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 72% 8%;
      grid-template-rows: 20% 72% 8%;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
}

.second-page .project-section h1 {
  color: black;
  font-size: 80px;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.second-page .project-section .project-1,
.second-page .project-section .project-2,
.second-page .project-section .project-3 {
  width: 200px;
  height: 300px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.second-page .project-section .project-front,
.second-page .project-section .project-back {
  cursor: pointer;
  width: 200px;
  height: 300px;
  color: black;
  text-align: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.second-page .project-section .project-front .project-one-img,
.second-page .project-section .project-front .project-two-img,
.second-page .project-section .project-front .project-three-img,
.second-page .project-section .project-back .project-one-img,
.second-page .project-section .project-back .project-two-img,
.second-page .project-section .project-back .project-three-img {
  content: url(./project.jpg);
  width: 200px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid black;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-page .project-section .project-front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.second-page .project-section .project-back {
  background: white;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.second-page .project-section .project-back h2 {
  margin-top: 85px;
}

.second-page .project-section .project-back .fa-github {
  color: black;
  margin-top: 35px;
  font-size: 50px;
}

.second-page .project-section .project-1:hover > .project-front,
.second-page .project-section .project-2:hover > .project-front,
.second-page .project-section .project-3:hover > .project-front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.second-page .project-section .project-1:hover > .project-back,
.second-page .project-section .project-2:hover > .project-back,
.second-page .project-section .project-3:hover > .project-back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.second-page .project-section.dark h1 {
  color: white;
}

.second-page .project-section.dark .project-front,
.second-page .project-section.dark .project-back {
  color: black;
}

.second-page .project-section.dark .project-front .project-one-img,
.second-page .project-section.dark .project-front .project-two-img,
.second-page .project-section.dark .project-front .project-three-img,
.second-page .project-section.dark .project-back .project-one-img,
.second-page .project-section.dark .project-back .project-two-img,
.second-page .project-section.dark .project-back .project-three-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
}

.second-page .project-section.dark .project-back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  border: 1px solid grey;
}

.second-page .project-section.dark .project-back .fa-github {
  color: black;
}

.second-page .footer {
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(59, 59, 59, 0) -150%, black);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.second-page .footer.dark {
  border-top: .5px solid white;
}

.second-page .footer .social-media {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.second-page .footer .social-media a {
  width: 32px;
  height: 32px;
  margin: 0 70px;
  padding: 0;
}

.second-page .footer .social-media a .fa-github,
.second-page .footer .social-media a .fa-linkedin,
.second-page .footer .social-media a .fa-twitter,
.second-page .footer .social-media a .fa-instagram {
  color: white;
  font-size: 32px;
  padding: 0;
  margin-top: 24px;
}

.about-page {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-y: visible;
}

.about-page .about-info {
  width: 100vw;
  height: 2000px;
  margin-top: 75px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
}

.about-page .about-info .profile {
  height: 300px;
  width: 200px;
  background-color: #d6d6d6;
  border: .5px solid grey;
  border-radius: 2px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page .about-info .profile.dark {
  background-color: transparent;
  border: .5px solid white;
}

.about-page .about-info .profile.dark:hover {
  background-color: transparent;
}

.about-page .about-info .profile.dark .profile-pic {
  border: 2px solid white;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-page .about-info .profile.dark .information .country-div .fa-globe-europe {
  color: white;
}

.about-page .about-info .profile.dark .information .country-div .country {
  color: white;
}

.about-page .about-info .profile.dark .information .birth-div .fa-baby {
  color: white;
}

.about-page .about-info .profile.dark .information .birth-div .birth {
  color: white;
}

.about-page .about-info .profile:hover {
  background-color: #a1a1a1;
}

.about-page .about-info .profile .profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  background-size: cover;
}

.about-page .about-info .profile .information {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-page .about-info .profile .information .country-div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 0 15px 30px;
}

.about-page .about-info .profile .information .country-div .fa-globe-europe {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: content;
      flex-basis: content;
}

.about-page .about-info .profile .information .country-div .country {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font: normal 14px/1.5 'Roboto', sans-serif;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  padding-left: 10px;
}

.about-page .about-info .profile .information .birth-div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 0 15px 30px;
}

.about-page .about-info .profile .information .birth-div .fa-baby {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  padding-left: 2px;
}

.about-page .about-info .profile .information .birth-div .birth {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font: 14px/1.5 "Roboto", sans-serif;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  padding-left: 12px;
  font: normal 14px/1.5 'Roboto', sans-serif;
}

.about-page .about-info .about-me-section {
  width: 100vw;
  height: 150px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page .about-info .about-me-section.dark .collapse {
  background-color: transparent;
  border-top: .5px solid white;
  border-left: .5px solid white;
  border-right: .5px solid white;
  border-bottom: none;
  color: white;
}

.about-page .about-info .about-me-section.dark .collapse:hover {
  background-color: transparent;
}

.about-page .about-info .about-me-section.dark .about-me {
  background-color: transparent;
  border: .5px solid white;
}

.about-page .about-info .about-me-section.dark .about-me p {
  color: white;
}

.about-page .about-info .about-me-section .collapse {
  width: 80vh;
  height: 50px;
  cursor: pointer;
  background-color: #d6d6d6;
  color: black;
  padding: 15px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 15px;
  border-radius: 2px;
  font: bold 16px/1.5 'Roboto', sans-serif;
}

.about-page .about-info .about-me-section .collapse.active {
  margin-bottom: 0;
}

.about-page .about-info .about-me-section .collapse:hover {
  background-color: #a1a1a1;
}

.about-page .about-info .about-me-section .about-me {
  width: 80vh;
  margin-bottom: 10px;
  padding: 0;
  background-color: #ebebeb;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.about-page .about-info .about-me-section .about-me p {
  font: 14px/1.5 "Roboto", sans-serif;
  padding: 15px;
}

.about-page .about-info .questions {
  width: 90vw;
  height: auto;
  min-height: 600px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d6d6d6;
  border-radius: 2px;
}

.about-page .about-info .questions.dark {
  background-color: transparent;
  border: .5px solid white;
}

.about-page .about-info .questions.dark .fa-question-circle {
  color: white;
}

.about-page .about-info .questions.dark .buttons .collapse {
  background-color: transparent;
  border-top: .5px solid white;
  border-left: .5px solid white;
  border-right: .5px solid white;
  border-bottom: none;
  color: white;
}

.about-page .about-info .questions.dark .buttons .collapse:after {
  color: white;
}

.about-page .about-info .questions.dark .buttons .collapse.active {
  margin-bottom: 0;
}

.about-page .about-info .questions.dark .buttons .collapse.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.about-page .about-info .questions.dark .buttons .collapse:hover {
  background-color: transparent;
}

.about-page .about-info .questions.dark .buttons .answer1,
.about-page .about-info .questions.dark .buttons .answer2,
.about-page .about-info .questions.dark .buttons .answer3,
.about-page .about-info .questions.dark .buttons .answer4,
.about-page .about-info .questions.dark .buttons .answer5 {
  background-color: transparent;
  border: .5px solid white;
}

.about-page .about-info .questions.dark .buttons .answer1 p,
.about-page .about-info .questions.dark .buttons .answer2 p,
.about-page .about-info .questions.dark .buttons .answer3 p,
.about-page .about-info .questions.dark .buttons .answer4 p,
.about-page .about-info .questions.dark .buttons .answer5 p {
  color: white;
}

.about-page .about-info .questions .fa-question-circle {
  font-size: 80px;
  margin-top: 60px;
  margin-left: 60px;
  text-align: left;
  color: black;
}

.about-page .about-info .questions .buttons {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.about-page .about-info .questions .buttons .collapse {
  width: 80vh;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 15px;
  border: none;
  outline: none;
  text-align: left;
  font-size: 15px;
  border-radius: 2px;
}

.about-page .about-info .questions .buttons .collapse:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: white;
  float: right;
  margin-left: 5px;
}

.about-page .about-info .questions .buttons .collapse.active {
  margin-bottom: 0;
}

.about-page .about-info .questions .buttons .collapse.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.about-page .about-info .questions .buttons .collapse:hover {
  background-color: #a1a1a1;
}

.about-page .about-info .questions .buttons .answer1,
.about-page .about-info .questions .buttons .answer2,
.about-page .about-info .questions .buttons .answer3,
.about-page .about-info .questions .buttons .answer4,
.about-page .about-info .questions .buttons .answer5 {
  width: 80vh;
  margin-bottom: 10px;
  padding: 0;
  background-color: #ebebeb;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.about-page .about-info .questions .buttons .answer1 p,
.about-page .about-info .questions .buttons .answer2 p,
.about-page .about-info .questions .buttons .answer3 p,
.about-page .about-info .questions .buttons .answer4 p,
.about-page .about-info .questions .buttons .answer5 p {
  font: 14px/1.5 "Roboto", sans-serif;
  padding: 30px;
}

.about-page .request-form {
  width: 40vh;
  height: 350px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-page .request-form.dark form label {
  color: white;
}

.about-page .request-form.dark form .fa-user-circle,
.about-page .request-form.dark form .fa-envelope {
  color: black;
}

.about-page .request-form.dark form input[type=text], .about-page .request-form.dark form select {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.about-page .request-form.dark form input[type=text]:focus, .about-page .request-form.dark form select:focus {
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  border: 1px solid white;
}

.about-page .request-form.dark form input[type=email], .about-page .request-form.dark form select {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.about-page .request-form.dark form input[type=email]:focus, .about-page .request-form.dark form select:focus {
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  border: 1px solid white;
}

.about-page .request-form.dark form .submit-form {
  background-color: transparent;
  border: .5px solid white;
  color: white;
}

.about-page .request-form.dark form .submit-form:hover {
  background-color: transparent;
}

.about-page .request-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-page .request-form form label {
  margin-left: 2px;
  font: bold 16px/1.5 'Roboto', sans-serif;
}

.about-page .request-form form .fa-user-circle,
.about-page .request-form form .fa-envelope {
  position: relative;
  color: black;
  top: 55px;
  left: 11px;
}

.about-page .request-form form input[type=text], .about-page .request-form form select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 12px 20px 12px 40px;
  outline: none;
  margin-top: 0;
  margin-bottom: 12px;
}

.about-page .request-form form input[type=text]:focus, .about-page .request-form form select:focus {
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  border: 1px solid grey;
}

.about-page .request-form form input[type=email], .about-page .request-form form select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 12px 20px 12px 40px;
  outline: none;
  margin-top: 0;
  margin-bottom: 12px;
}

.about-page .request-form form input[type=email]:focus, .about-page .request-form form select:focus {
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  border: 1px solid grey;
}

.about-page .request-form form .email-success {
  position: relative;
  left: 10px;
  font: bold 16px/1.5 'Roboto', sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page .request-form form .email-success .fa-check-circle {
  position: relative;
  width: 22px;
  height: 22px;
  top: 0;
  left: -10px;
  color: green;
}

.about-page .request-form form .submit-form {
  width: 50%;
  background-color: grey;
  color: white;
  font: normal 16px/1.5 'Roboto', sans-serif;
  padding: 14px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-page .request-form form .submit-form:hover {
  background-color: #636363;
}

.about-footer {
  width: 100%;
  height: 75px;
  background: radial-gradient(rgba(59, 59, 59, 0) -150%, black);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about-footer.dark {
  border-top: .5px solid white;
}

.about-footer .social-media {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.about-footer .social-media a {
  width: 32px;
  height: 32px;
  margin: 0 70px;
  padding: 0;
}

.about-footer .social-media a .fa-github,
.about-footer .social-media a .fa-linkedin,
.about-footer .social-media a .fa-twitter,
.about-footer .social-media a .fa-instagram {
  color: white;
  font-size: 32px;
  padding: 0;
  margin-top: 24px;
}

.notfound-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notfound-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.notfound-container h1, .notfound-container p {
  font: 'Roboto', sans-serif;
}

@supports not (display: grid) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .first-page .landing-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-page .landing-section .landing-info {
    padding: 300px 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .second-page .project-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .second-page .project-section h1 {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 34px;
  }
  .second-page .project-section .project-1,
  .second-page .project-section .project-2,
  .second-page .project-section .project-3 {
    position: relative;
    top: 47px;
    left: -20%;
    -webkit-transform: translate(20%, 47px);
            transform: translate(20%, 47px);
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 200px;
    height: 300px;
  }
  .second-page .footer {
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (min-width: 750px) and (max-width: 980px) {
  .first-page .landing-section .scroll-down p {
    font-size: 16px;
    padding-top: 15px;
  }
  .first-page .landing-section .scroll-down .fa-chevron-down {
    font-size: 16px;
  }
  .second-page .project-section .project-1,
  .second-page .project-section .project-2,
  .second-page .project-section .project-3 {
    margin-bottom: 150px;
  }
  .second-page .project-section .project-back h2 {
    margin-top: 85px;
    font-size: 22;
  }
  .second-page .project-section .project-back .fa-github {
    color: black;
    margin-top: 35px;
    font-size: 50px;
  }
  .second-page .footer .social-media a {
    margin: 0 50px;
  }
  @supports not (display: grid) {
    .main-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    .first-page .landing-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .first-page .landing-section .landing-info {
      padding: 300px 0;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    .second-page .project-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .second-page .project-section h1 {
      position: relative;
      top: 0;
      left: 55%;
      -webkit-transform: translate(-55%, 0);
              transform: translate(-55%, 0);
      -ms-flex-item-align: start;
          align-self: flex-start;
      padding-top: 34px;
    }
    .second-page .project-section .project-1,
    .second-page .project-section .project-2,
    .second-page .project-section .project-3 {
      position: relative;
      top: 47px;
      left: -20%;
      -webkit-transform: translate(20%, 47px);
              transform: translate(20%, 47px);
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 120px;
      height: 220px;
    }
    .second-page .project-section .project-front,
    .second-page .project-section .project-back {
      width: 120px;
      height: 220px;
    }
    .second-page .project-section .project-front h2,
    .second-page .project-section .project-back h2 {
      margin-top: 75px;
      font-size: 22px;
    }
    .second-page .project-section .project-front .fa-github,
    .second-page .project-section .project-back .fa-github {
      color: black;
      margin-top: 20px;
      font-size: 30px;
    }
    .second-page .project-section .project-front .project-one-img,
    .second-page .project-section .project-front .project-two-img,
    .second-page .project-section .project-front .project-three-img,
    .second-page .project-section .project-back .project-one-img,
    .second-page .project-section .project-back .project-two-img,
    .second-page .project-section .project-back .project-three-img {
      width: 120px;
      height: 220px;
    }
  }
}

@media only screen and (min-width: 513px) and (max-width: 749px) {
  .hamburger-wrapper {
    width: 150px;
    height: 150px;
  }
  .hamburger-wrapper .hamburger-nav {
    width: 150px;
    height: 150px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul {
    width: 150px;
    height: 150px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li a {
    padding: 10px 15px;
    font: bold 22px/1.5 'Roboto', sans-serif;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li.dark a {
    padding: 10px 15px;
    font: bold 22px/1.5 'Roboto', sans-serif;
    color: black;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li.dark a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  .first-page .landing-section .landing-info {
    padding: 0;
  }
  .first-page .landing-section .landing-info h1 {
    font-size: 36px;
  }
  .first-page .landing-section .landing-info p {
    font-size: 16px;
  }
  .first-page .landing-section .landing-info .fa-map-marker-alt {
    font-size: 16px;
  }
  .first-page .landing-section .scroll-down p {
    font-size: 16px;
  }
  .first-page .landing-section .scroll-down .fa-chevron-down {
    font-size: 16px;
  }
  .second-page .project-section {
    -ms-grid-rows: 12% 26.66% 26.66% 26.66% 8%;
        grid-template-rows: 12% 26.66% 26.66% 26.66% 8%;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  .second-page .project-section h1 {
    font-size: 60px;
  }
  .second-page .project-section .project-1 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-2 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-3 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-front,
  .second-page .project-section .project-back {
    width: 150px;
    height: 200px;
  }
  .second-page .project-section .project-front h2,
  .second-page .project-section .project-back h2 {
    margin-top: 65px;
    font-size: 22;
  }
  .second-page .project-section .project-front .fa-github,
  .second-page .project-section .project-back .fa-github {
    color: black;
    margin-top: 35px;
    font-size: 30px;
  }
  .second-page .project-section .project-front .project-one-img,
  .second-page .project-section .project-front .project-two-img,
  .second-page .project-section .project-front .project-three-img,
  .second-page .project-section .project-back .project-one-img,
  .second-page .project-section .project-back .project-two-img,
  .second-page .project-section .project-back .project-three-img {
    width: 150px;
    height: 200px;
  }
  .second-page .project-section .project-back .fa-github {
    margin-top: 15px;
  }
  .second-page .project-section h2 {
    font-size: 22px;
    margin-top: 65px;
  }
  .second-page .footer {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .second-page .footer .social-media a {
    margin: 0 50px;
  }
  .about-footer .social-media a {
    width: 28px;
    height: 28px;
    margin: 0 24px;
  }
  .about-footer .social-media a .fa-github,
  .about-footer .social-media a .fa-linkedin,
  .about-footer .social-media a .fa-twitter,
  .about-footer .social-media a .fa-instagram {
    font-size: 28px;
  }
  @supports not (display: grid) {
    .first-page .landing-section .landing-info {
      padding: 300px 0;
    }
    .second-page .project-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .second-page .project-section h1 {
      position: relative;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .second-page .project-section .project-1,
    .second-page .project-section .project-2,
    .second-page .project-section .project-3 {
      position: relative;
      top: -5%;
      left: -3%;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 90px;
      height: 150px;
    }
    .second-page .project-section .project-front,
    .second-page .project-section .project-back {
      width: 90px;
      height: 150px;
    }
    .second-page .project-section .project-front h2,
    .second-page .project-section .project-back h2 {
      margin-top: 45px;
      font-size: 18px;
    }
    .second-page .project-section .project-front .fa-github,
    .second-page .project-section .project-back .fa-github {
      color: black;
      margin-top: 10px;
      font-size: 26px;
    }
    .second-page .project-section .project-front .project-one-img,
    .second-page .project-section .project-front .project-two-img,
    .second-page .project-section .project-front .project-three-img,
    .second-page .project-section .project-back .project-one-img,
    .second-page .project-section .project-back .project-two-img,
    .second-page .project-section .project-back .project-three-img {
      width: 90px;
      height: 150px;
    }
    .second-page .project-section .footer {
      height: 75px;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }
  }
}

@media only screen and (min-width: 413px) and (max-width: 512px) {
  .hamburger-wrapper {
    width: 150px;
    height: 150px;
  }
  .hamburger-wrapper .hamburger-nav {
    width: 150px;
    height: 150px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul {
    width: 150px;
    height: 150px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li a {
    padding: 10px 15px;
    font: bold 22px/1.5 'Roboto', sans-serif;
  }
  .first-page .landing-section .landing-info {
    padding: 0;
  }
  .first-page .landing-section .landing-info h1 {
    font-size: 28px;
  }
  .first-page .landing-section .landing-info p {
    font-size: 16px;
  }
  .first-page .landing-section .landing-info .fa-map-marker-alt {
    font-size: 16px;
  }
  .first-page .landing-section .scroll-down p {
    font-size: 16px;
  }
  .first-page .landing-section .scroll-down .fa-chevron-down {
    font-size: 16px;
  }
  .second-page .project-section {
    -ms-grid-rows: 10% 27.33% 27.33% 27.33% 8%;
        grid-template-rows: 10% 27.33% 27.33% 27.33% 8%;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  .second-page .project-section h1 {
    font-size: 50px;
  }
  .second-page .project-section .project-1 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-2 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-3 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-front,
  .second-page .project-section .project-back {
    width: 150px;
    height: 200px;
  }
  .second-page .project-section .project-front h2,
  .second-page .project-section .project-back h2 {
    margin-top: 65px;
    font-size: 22;
  }
  .second-page .project-section .project-front .fa-github,
  .second-page .project-section .project-back .fa-github {
    color: black;
    margin-top: 35px;
    font-size: 30px;
  }
  .second-page .project-section .project-front .project-one-img,
  .second-page .project-section .project-front .project-two-img,
  .second-page .project-section .project-front .project-three-img,
  .second-page .project-section .project-back .project-one-img,
  .second-page .project-section .project-back .project-two-img,
  .second-page .project-section .project-back .project-three-img {
    width: 150px;
    height: 200px;
  }
  .second-page .project-section .project-back .fa-github {
    margin-top: 15px;
  }
  .second-page .project-section h2 {
    font-size: 22px;
    margin-top: 65px;
  }
  .second-page .footer {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .second-page .footer .social-media a {
    width: 28px;
    height: 28px;
    margin: 0 24px;
  }
  .second-page .footer .social-media a .fa-github,
  .second-page .footer .social-media a .fa-linkedin,
  .second-page .footer .social-media a .fa-twitter,
  .second-page .footer .social-media a .fa-instagram {
    font-size: 28px;
  }
  .about-footer .social-media a {
    width: 28px;
    height: 28px;
    margin: 0 24px;
  }
  .about-footer .social-media a .fa-github,
  .about-footer .social-media a .fa-linkedin,
  .about-footer .social-media a .fa-twitter,
  .about-footer .social-media a .fa-instagram {
    font-size: 28px;
  }
  @supports not (display: grid) {
    .first-page .landing-section .landing-info {
      padding: 300px 0;
    }
    .second-page .project-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .second-page .project-section h1 {
      position: relative;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .second-page .project-section .project-1,
    .second-page .project-section .project-2,
    .second-page .project-section .project-3 {
      position: relative;
      top: -5%;
      left: -4%;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 90px;
      height: 140px;
    }
    .second-page .project-section .project-front,
    .second-page .project-section .project-back {
      width: 90px;
      height: 140px;
    }
    .second-page .project-section .project-front h2,
    .second-page .project-section .project-back h2 {
      margin-top: 35px;
      font-size: 18px;
    }
    .second-page .project-section .project-front .fa-github,
    .second-page .project-section .project-back .fa-github {
      color: black;
      margin-top: 8px;
      font-size: 24px;
    }
    .second-page .project-section .project-front .project-one-img,
    .second-page .project-section .project-front .project-two-img,
    .second-page .project-section .project-front .project-three-img,
    .second-page .project-section .project-back .project-one-img,
    .second-page .project-section .project-back .project-two-img,
    .second-page .project-section .project-back .project-three-img {
      width: 90px;
      height: 140px;
    }
    .second-page .project-section .footer {
      height: 75px;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }
  }
}

@media only screen and (min-width: 361px) and (max-width: 412px) {
  .hamburger-wrapper {
    width: 100px;
    height: 100px;
  }
  .hamburger-wrapper .hamburger-nav {
    width: 100px;
    height: 100px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul {
    width: 100px;
    height: 100px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li a {
    padding: 5px 10px;
    font: bold 18px/1.5 'Roboto', sans-serif;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li.dark a {
    padding: 5px 10px;
    font: bold 18px/1.5 'Roboto', sans-serif;
    color: black;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li.dark a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  .first-page .landing-section .landing-info {
    padding: 0;
  }
  .first-page .landing-section .landing-info h1 {
    font-size: 26px;
  }
  .first-page .landing-section .landing-info p {
    font-size: 14px;
  }
  .first-page .landing-section .landing-info .fa-map-marker-alt {
    font-size: 14px;
  }
  .first-page .landing-section .scroll-down p {
    font-size: 14px;
    padding-top: 18px;
  }
  .first-page .landing-section .scroll-down .fa-chevron-down {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .second-page .project-section {
    -ms-grid-rows: 10% 27.33% 27.33% 27.33% 8%;
        grid-template-rows: 10% 27.33% 27.33% 27.33% 8%;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  .second-page .project-section h1 {
    font-size: 50px;
  }
  .second-page .project-section .project-1 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-2 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-3 {
    width: 150px;
    height: 200px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-front,
  .second-page .project-section .project-back {
    width: 150px;
    height: 200px;
  }
  .second-page .project-section .project-front .project-one-img,
  .second-page .project-section .project-front .project-two-img,
  .second-page .project-section .project-front .project-three-img,
  .second-page .project-section .project-back .project-one-img,
  .second-page .project-section .project-back .project-two-img,
  .second-page .project-section .project-back .project-three-img {
    width: 150px;
    height: 200px;
  }
  .second-page .project-section .project-back h2 {
    margin-top: 65px;
    font-size: 22;
  }
  .second-page .project-section .project-back .fa-github {
    color: black;
    margin-top: 15px;
    font-size: 30px;
  }
  .second-page .project-section h2 {
    font-size: 22px;
    margin-top: 65px;
  }
  .second-page .footer {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .second-page .footer .social-media a {
    width: 28px;
    height: 28px;
    margin: 0 24px;
  }
  .second-page .footer .social-media a .fa-github,
  .second-page .footer .social-media a .fa-linkedin,
  .second-page .footer .social-media a .fa-twitter,
  .second-page .footer .social-media a .fa-instagram {
    font-size: 28px;
  }
  .about-footer .social-media a {
    width: 28px;
    height: 28px;
    margin: 0 24px;
  }
  .about-footer .social-media a .fa-github,
  .about-footer .social-media a .fa-linkedin,
  .about-footer .social-media a .fa-twitter,
  .about-footer .social-media a .fa-instagram {
    font-size: 28px;
  }
  @supports not (display: grid) {
    .first-page .landing-section .landing-info {
      padding: 300px 0;
    }
    .second-page .project-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .second-page .project-section h1 {
      position: relative;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .second-page .project-section .project-1,
    .second-page .project-section .project-2,
    .second-page .project-section .project-3 {
      position: relative;
      top: -5%;
      left: -4%;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 90px;
      height: 140px;
    }
    .second-page .project-section .project-front,
    .second-page .project-section .project-back {
      width: 90px;
      height: 140px;
    }
    .second-page .project-section .project-front h2,
    .second-page .project-section .project-back h2 {
      margin-top: 35px;
      font-size: 18px;
    }
    .second-page .project-section .project-front .fa-github,
    .second-page .project-section .project-back .fa-github {
      color: black;
      margin-top: 8px;
      font-size: 24px;
    }
    .second-page .project-section .project-front .project-one-img,
    .second-page .project-section .project-front .project-two-img,
    .second-page .project-section .project-front .project-three-img,
    .second-page .project-section .project-back .project-one-img,
    .second-page .project-section .project-back .project-two-img,
    .second-page .project-section .project-back .project-three-img {
      width: 90px;
      height: 140px;
    }
    .second-page .project-section .footer {
      height: 75px;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }
  }
}

@media only screen and (min-width: 50px) and (max-width: 360px) {
  html, body {
    overflow: hidden;
  }
  .main-nav #brand {
    width: 50px;
    height: 50px;
  }
  .main-nav .darkmode {
    margin-top: 3px;
    width: 55px;
    height: 42px;
    z-index: 2;
  }
  .main-nav .darkmode #switch {
    width: 55px;
    height: 25px;
  }
  .main-nav .darkmode #switch #slider::before {
    height: 19px;
    width: 19px;
  }
  .main-nav .darkmode #switch #label {
    margin: 0 0 0 3.5px;
  }
  .hamburger-wrapper {
    width: 100px;
    height: 100px;
  }
  .hamburger-wrapper .hamburger-nav {
    width: 100px;
    height: 100px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul {
    width: 100px;
    height: 100px;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li a {
    padding: 5px 10px;
    font: bold 18px/1.5 'Roboto', sans-serif;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li.dark a {
    padding: 5px 10px;
    font: bold 18px/1.5 'Roboto', sans-serif;
    color: black;
  }
  .hamburger-wrapper .hamburger-nav .nav-ul .nav-li.dark a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  .first-page .landing-section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .first-page .landing-section .landing-info {
    padding: 0;
  }
  .first-page .landing-section .landing-info h1 {
    font-size: 22px;
  }
  .first-page .landing-section .landing-info p {
    font-size: 14px;
  }
  .first-page .landing-section .landing-info .fa-map-marker-alt {
    font-size: 14px;
  }
  .first-page .landing-section .scroll-down p {
    font-size: 14px;
    padding-top: 18px;
  }
  .first-page .landing-section .scroll-down .fa-chevron-down {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .second-page .project-section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    -ms-grid-rows: 10% 27.33% 27.33% 27.33% 8%;
        grid-template-rows: 10% 27.33% 27.33% 27.33% 8%;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  .second-page .project-section h1 {
    font-size: 38px;
  }
  .second-page .project-section .project-1 {
    width: 120px;
    height: 170px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-2 {
    width: 120px;
    height: 170px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-3 {
    width: 120px;
    height: 170px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 35px;
  }
  .second-page .project-section .project-front,
  .second-page .project-section .project-back {
    width: 120px;
    height: 170px;
  }
  .second-page .project-section .project-front h2,
  .second-page .project-section .project-back h2 {
    margin-top: 65px;
    font-size: 22;
  }
  .second-page .project-section .project-front .fa-github,
  .second-page .project-section .project-back .fa-github {
    color: black;
    margin-top: 15px;
    font-size: 30px;
  }
  .second-page .project-section .project-front .project-one-img,
  .second-page .project-section .project-front .project-two-img,
  .second-page .project-section .project-front .project-three-img,
  .second-page .project-section .project-back .project-one-img,
  .second-page .project-section .project-back .project-two-img,
  .second-page .project-section .project-back .project-three-img {
    width: 120px;
    height: 170px;
  }
  .second-page .project-section .project-back .fa-github {
    margin-top: 15px;
  }
  .second-page .project-section h2 {
    font-size: 18px;
    margin-top: 65px;
  }
  .second-page .footer {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .second-page .footer .social-media a {
    width: 26px;
    height: 26px;
    margin: 0 14px;
  }
  .second-page .footer .social-media a .fa-github,
  .second-page .footer .social-media a .fa-linkedin,
  .second-page .footer .social-media a .fa-twitter,
  .second-page .footer .social-media a .fa-instagram {
    font-size: 26px;
  }
  .about-footer .social-media a {
    width: 26px;
    height: 26px;
    margin: 0 14px;
  }
  .about-footer .social-media a .fa-github,
  .about-footer .social-media a .fa-linkedin,
  .about-footer .social-media a .fa-twitter,
  .about-footer .social-media a .fa-instagram {
    font-size: 26px;
  }
  @supports not (display: grid) {
    .first-page .landing-section .landing-info {
      padding: 300px 0;
    }
    .second-page .project-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .second-page .project-section h1 {
      position: relative;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .second-page .project-section .project-1,
    .second-page .project-section .project-2,
    .second-page .project-section .project-3 {
      position: relative;
      top: -5%;
      left: -41%;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 90px;
      height: 120px;
    }
    .second-page .project-section .project-front,
    .second-page .project-section .project-back {
      width: 90px;
      height: 120px;
    }
    .second-page .project-section .project-front h2,
    .second-page .project-section .project-back h2 {
      margin-top: 25px;
      font-size: 18px;
    }
    .second-page .project-section .project-front .fa-github,
    .second-page .project-section .project-back .fa-github {
      color: black;
      margin-top: 8px;
      font-size: 22px;
    }
    .second-page .project-section .project-front .project-one-img,
    .second-page .project-section .project-front .project-two-img,
    .second-page .project-section .project-front .project-three-img,
    .second-page .project-section .project-back .project-one-img,
    .second-page .project-section .project-back .project-two-img,
    .second-page .project-section .project-back .project-three-img {
      width: 90px;
      height: 120px;
    }
    .second-page .project-section .footer {
      height: 75px;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }
  }
}
/*# sourceMappingURL=index.css.map */