.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18vh;
  margin-bottom: 15vh;
  .section-inner {
    padding-top: $hero--padding-t__mobile;
    padding-bottom: $hero--padding-b__mobile;
  }
}

.svg-stripes {
  width: 100%;
  height: 2.5rem;
  background-color: #ffb400;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.logo-img {
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
}
.big-timer {
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 3rem 0;
  font-weight: bold;
  color: white;
  animation: heartbeat 1s 5;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.big-header {
  font-size: 5rem;
  text-align: center;
  margin: 3rem 0 1.5rem 0;
}
.small-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.hero-inner {
  p {
    margin-bottom: 5vh;
  }
  // Affects only hero full
  > .hero-content + .hero-figure,
  > .hero-figure + .hero-content {
    margin-top: $hero--inner-padding-v_mobile;
  }

  > .hero-figure {
    > a {
      display: inline-flex;
      // prevents stretching
      align-items: center;
      vertical-align: top;
    }
  }
}

@include media("<=medium") {
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .split-wrap {
      .split-item {
        .split-item-content {
          margin-bottom: $hero--inner-padding-v_mobile;
        }
      }

      &.invert-mobile {
        .split-item {
          .split-item-image {
            margin-bottom: $hero--inner-padding-v_mobile;
          }
        }
      }
    }
  }
}

@include media(">medium") {
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-inner {
      padding-top: $hero--padding-t__desktop;
      padding-bottom: $hero--padding-b__desktop;
    }
  }

  .hero-inner {
    // Affects only hero full
    > .hero-content + .hero-figure,
    > .hero-figure + .hero-content {
      margin-top: $hero--inner-padding-v_desktop;
    }
  }
}
