.slick-slider {
  background: rgba($color: #fff, $alpha: .04);
  box-shadow: 0 0 15px rgba($color: #000, $alpha: .3);
  padding: 1.5rem 0;
  margin-bottom: 5rem;

  .slick-list {
    display: flex;
    justify-content: center;
    align-items: center;

    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;

      .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;
      }
    }
  }
}

.testimonial {
  .section-inner {
    padding-top: $testimonial--padding-t__mobile;
    padding-bottom: $testimonial--padding-b__mobile;
  }

  .section-header {
    padding-bottom: $testimonial-header--padding__mobile;
  }
  .container {
    padding: 0;
  }

  .tiles-item {
    flex-basis: $testimonial-item--width;
    max-width: $testimonial-item--width;
    @if ($testimonial-items--padding__mobile != null) {
      padding: $testimonial-items--padding__mobile / 2;
    }
  }

  .tiles-item-inner {
    padding-top: $testimonial-item--inner-padding-v;
    padding-bottom: $testimonial-item--inner-padding-v;
    padding-left: $testimonial-item--inner-padding-h;
    padding-right: $testimonial-item--inner-padding-h;
  }
}

.testimonial-item-content {
  flex-grow: 1;
}

.testimonial-item-source {
  display: inline-flex; // to allow centering when using .content-center on a parent tag
  flex-wrap: wrap;
  align-items: center;
}

@include media(">medium") {
  .testimonial {
    .section-inner {
      padding-top: $testimonial--padding-t__desktop;
      padding-bottom: $testimonial--padding-b__desktop;
    }

    .section-header {
      padding-bottom: $testimonial-header--padding__desktop;
    }
  }
}
